@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  background-color: black;
}

h1{
  font-family: 'Kolker Brush', cursive;
  font-size: 7rem;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;

}

h2{
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline; 
  margin-top: -5px;
  margin-bottom: 5%;
  color: #fff;
  font-weight: 400;
}


@media (max-width: 800px) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 16px;
  }
}
@media (max-width: 525px) {
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 12px;
  }
}